# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DotEnv configuration
#.env

# Docker
/docker/volumes

# Pycharm
.idea

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store
